<%= form_tag hardiness_zone_path, method: :patch do %>
  <p>Search your zipcode for your hardiness zone</p>
  <%= text_field_tag(:zipcode, params[:zipcode]) %>
  <%= submit_tag("Search") %>
<% end %>
