<%= tag.h1 @user.full_name, class: 'font-bold text-2xl' %>
<hr>
<div>
  stuff about the user
</div>
<div>
  maybe a map
</div>

<div>
  show their plots
</div>

<div>
  a link to their harvests
</div>

<div>
  maybe something about their expected yield (based on averages)
</div>
